version: '3.8'

services:
  postgres:
    image: postgres:15-alpine
    container_name: loan_db
    environment:
      POSTGRES_DB: loan
      POSTGRES_USER: test
      POSTGRES_PASSWORD: test
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    ports:
      - '127.0.0.1:5432:5432'
    networks:
      - mcp_network

  mcp-server:
    build: .
    container_name: company_mcp_server
    ports:
      - '3000:3000'
    env_file:
      - .env
    depends_on:
      - postgres
    networks:
      - mcp_network

networks:
  mcp_network:
    driver: bridge

volumes:
  postgres_data:
